[submodule "archive"]
	path = archive
	url = ../linux-archive
[submodule "source"]
	path = source
	url = ../simple-source
[submodule "operating-system"]
	path = operating-system
	url = ../linux-operating-system
